<div class="container my-5">

  <div class="row my-3">

    <div *ngFor="let estudiante of estudiantes" class="col-12 col-md-3 mb-4">
      <div class="card">
        <img src="https://picsum.photos/500/300" class="card-img-top"/>
        <div class="card-body">
          <h5 class="card-title">{{ estudiante.nombre }}</h5>
          <h6 class="card-subtitle text-muted">Carrerra: {{ estudiante.carrera }}</h6>
          <div class="card-subtitle text-muted mt-2">
            Estado: <span [ngClass]="estudiante.estado === true ? 'badge text-bg-success' : 'badge text-bg-warning' ">{{ estudiante.mensaje }}</span>
          </div>
        </div>
      </div>
    </div>

  </div>

</div>