<div class="container my-5">

  <div class="row my-3">

    <div class="col-12 col-md-3 mb-4">
      <div class="card">
        <img src="https://picsum.photos/500/300" class="card-img-top"/>
        <div class="card-body">
          <h5 class="card-title">Lorem ipsum dolor sit amet.</h5>
          <h6 class="card-subtitle text-muted mb-2">Lorem Ipsum</h6>
          <div class="card-text">
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Ut saepe illum in dolor modi porro.
            </p>
          </div>
            <a href="" class="btn btn-dark">Conoce más</a>
            <a href="" class="btn btn-outline-dark">Inscribirse</a>
        </div>
      </div>
    </div>

    <div class="col-12 col-md-3 mb-4">
      <div class="card">
        <img src="https://picsum.photos/500/300" class="card-img-top"/>
        <div class="card-body">
          <h5 class="card-title">Lorem ipsum dolor sit amet.</h5>
          <h6 class="card-subtitle text-muted mb-2">Lorem Ipsum</h6>
          <div class="card-text">
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Ut saepe illum in dolor modi porro.
            </p>
          </div>
            <a href="" class="btn btn-dark">Conoce más</a>
            <a href="" class="btn btn-outline-dark">Inscribirse</a>
        </div>
      </div>
    </div>
    
    <div class="col-12 col-md-3 mb-4">
      <div class="card">
        <img src="https://picsum.photos/500/300" class="card-img-top"/>
        <div class="card-body">
          <h5 class="card-title">Lorem ipsum dolor sit amet.</h5>
          <h6 class="card-subtitle text-muted mb-2">Lorem Ipsum</h6>
          <div class="card-text">
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Ut saepe illum in dolor modi porro.
            </p>
          </div>
            <a href="" class="btn btn-dark">Conoce más</a>
            <a href="" class="btn btn-outline-dark">Inscribirse</a>
        </div>
      </div>
    </div>

    <div class="col-12 col-md-3 mb-4">
      <div class="card">
        <img src="https://picsum.photos/500/300" class="card-img-top"/>
        <div class="card-body">
          <h5 class="card-title">Lorem ipsum dolor sit amet.</h5>
          <h6 class="card-subtitle text-muted mb-2">Lorem Ipsum</h6>
          <div class="card-text">
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Ut saepe illum in dolor modi porro.
            </p>
          </div>
            <a href="" class="btn btn-dark">Conoce más</a>
            <a href="" class="btn btn-outline-dark">Inscribirse</a>
        </div>
      </div>
    </div>

  </div>

</div>