<button class="btn gx-0" type="button" data-bs-toggle="offcanvas" data-bs-target="#perfil__usuario"
    aria-controls="perfil__usuario">
    <i class='bx bx-user-circle'></i>
</button>

<div id="perfil__usuario" class="container offcanvas offcanvas-end" show="true" tabindex="-1"
    aria-labelledby="perfil__usuario">

    <div class="offcanvas-header">
        <button type="button" class="me-auto btn" data-bs-dismiss="offcanvas" aria-label="Close">
            <i class='bx bx-x'></i>
        </button>
    </div>

    <div class="offcanvas-body">
        <nav class="menu">
            <a class="align-items-center" href="#">
                <i class='bx bx-menu-alt-left m-0'></i> Usuario Elemento 01
            </a>
            <a class="align-items-center" href="#">
                <i class='bx bx-menu-alt-left m-0'></i> Usuario Elemento 02
            </a>
            <a class="align-items-center" href="#">
                <i class='bx bx-menu-alt-left m-0'></i> Usuario Elemento 03
            </a>
            <a class="align-items-center" href="#">
                <i class='bx bx-menu-alt-left m-0'></i> Usuario Elemento 04
            </a>
            <a class="align-items-center" href="#">
                <i class='bx bx-menu-alt-left m-0'></i> Usuario Elemento 05
            </a>
        </nav>
    </div>

</div>