<button class="btn gx-0" type="button" data-bs-toggle="offcanvas" data-bs-target="#menu-principal"
    aria-controls="menu-principal">
    <i class='bx bx-menu-alt-left'></i>
</button>

<div id="menu-principal" class="container offcanvas offcanvas-start" show="true" tabindex="-1"
    aria-labelledby="menu-principal">

    <div class="offcanvas-header">
        <button type="button" class="btn ms-auto" data-bs-dismiss="offcanvas" aria-label="Close">
            <i class='bx bx-x'></i>
        </button>
    </div>

    <div class="offcanvas-body">
        <nav class="menu">
            <a class="align-items-center" href="#">
                <i class='bx bx-menu-alt-left m-0'></i> Elemento 01
            </a>
            <a class="align-items-center" href="#">
                <i class='bx bx-menu-alt-left m-0'></i> Elemento 02
            </a>
            <a class="align-items-center" href="#">
                <i class='bx bx-menu-alt-left m-0'></i> Elemento 03
            </a>
            <a class="align-items-center" href="#">
                <i class='bx bx-menu-alt-left m-0'></i> Elemento 04
            </a>
            <a class="align-items-center" href="#">
                <i class='bx bx-menu-alt-left m-0'></i> Elemento 05
            </a>
        </nav>
    </div>

</div>